node_modules
pnpm-lock.yaml
yarn.lock

.expo
.expo-shared
dist
web-build

.env
.env.*
!.env.example

*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
ios/Pods
android/.gradle
android/app/build
android/build

.DS_Store
.vscode
.idea
*.log
